#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* light theme */
html[data-theme="light"] {
  --main-pink-color: rgb(129, 72, 82);
  --main-popup-color: #fce2e2;
  --main-overlay-color: rgba(148, 107, 109, 0.4);
  --main-outline-color: black;
}
/* dark theme */
html[data-theme="dark"] {
  --main-pink-color: rgb(255, 185, 185);
  --main-popup-color: rgb(185, 140, 140);
  --main-overlay-color: rgba(121, 90, 91, 0.4);
  --main-outline-color: white;
}
/* color scheme */
.pokeCard {
  outline: solid 2px var(--main-outline-color);
}
.pokeCard:hover {
  background-color: var(--main-popup-color);
  outline: 2px solid var(--main-pink-color);
}
.helpScreen,
.resultScreen {
  background-color: var(--main-overlay-color);
}
.helpCard,
.resultCard {
  background-color: var(--main-popup-color);
  border: solid 2px var(--main-outline-color);
}

.startButtons > button {
  margin: 0px 6px;
}
.gameBoard {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 16px;
}
.pokeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 120px;
  border-radius: 10px;
  cursor: pointer;
}
.pokeCard > p {
  margin: 4px 0;
  line-height: 0;
}
.helpScreen,
.resultScreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.helpCard,
.resultCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px 6px;
  width: 45vw;
  height: 30vh;
  border-radius: 24px;
}
.helpCard > h3 {
  margin: 0;
}
.gameBoardStatus,
.resultScreen {
  display: none;
}