:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* light theme */
html[data-theme="light"] {
  --main-font-color: rgb(68, 68, 68);
  --main-pink-color: rgb(129, 72, 82);
  --main-bg-color: white;
  --main-gray-color: rgb(97, 97, 97);
  --main-button-color: white;
}
/*dark theme */
html[data-theme="dark"] {
  --main-font-color: rgb(255, 255, 255);
  --main-pink-color: rgb(241, 152, 168);
  --main-bg-color: rgb(53, 53, 53);
  --main-gray-color: rgb(218, 218, 218);
  --main-button-color: rgb(119, 89, 89);
}
/* color scheme */
:root {
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}
button {
  outline: solid 2px var(--main-font-color);
  background-color: var(--main-button-color);
}
button:hover {
  outline: solid 2px var(--main-pink-color);
}
.playAgainBtn:hover {
  color: var(--main-pink-color);
}
.linkGithub {
  color: var(--main-gray-color);
}

.linkGithub {
  margin: 8px;
  width: 1in;
  background-color: inherit;
  color: var(--main-gray-color);
  font-weight: 700;
  font-size: 1.1rem;
  text-align: right;
  border: none;
  outline: none;

  position: fixed;
  top: 0;
  right: 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  color: inherit;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border: none;
}
.hideHelpScreen {
  background-color: inherit;
}
.playAgainBtn {
  outline: none;
  background-color: inherit;
}
.playAgainBtn:hover {
  outline: none;
}